body {
    height: 100vh;
    background: rgb(39,168,163);
    background: linear-gradient(180deg, rgba(39,168,163,0.8) 38%, rgba(10,116,224,0.86) 100%);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: rgb(255,255,255);
}

h2 {
    color: rgb(255,255,255); 
}

input {
    margin: 1rem 0;
    height: 2.5rem;
    width: 40%;
    font-size: 25px;
    text-align: center;
    color: rgba(39,168,163,.8);
    border-radius: 5px;
    border: none;
    outline: none;
    transition: all .3s ease-in;
}

input:focus{
    box-shadow: rgb(92, 92, 92) 1px 1px 2px;
}

input::placeholder{
    color: rgba(92, 92, 92, .4);
    font-size: 20px;
}

